.the-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7d2650;
  height: 80px;
}

.the-header > a > img {
  width: 8vw;
  height: auto;
  padding: 1rem;
}

.the-header > section {
  display: flex;
  align-items: center;
}

.the-header > section > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.the-header > section > a:first-of-type {
  background: rgb(233, 231, 231);
  color: #1779ca;
  font-size: 0.9rem;
  font-weight: 600;
  height: 25px;
  width: 70px;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

.button-register {
  color: rgb(233, 231, 231);
  background: #1779ca;
  font-size: 0.9rem;
  font-weight: 600;
  height: 27px;
  width: 70px;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
}

.the-header > section > button > p {
  font-size: 1.3rem;
  color: white;
}

.logo-profile-not-connected {
  width: 3vw;
  height: auto;
  padding: 0.3rem;
  margin-right: 1rem;
}

.chevron {
  width: 1rem;
  height: auto;
  margin: 0 1.5rem 0 0.5rem;
  filter: invert(1) brightness(3);
}

.user-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}
/* menu déroulant une fois user connecté */

.dropdown-menu {
  position: absolute;
  top: 85px;
  right: 10px;
  background-color: rgb(233, 227, 227);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  width: 10rem;
}

.dropdown-menu h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.logout-button {
  background: none;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  margin-bottom: 1rem;
}

.logout-button:hover {
  text-decoration: underline;
}
